
QFrame#newContinueFrame {
    margin-bottom: 60px;
}

QFrame#menuButtonsContainer {
    margin:0px 0px 25px 20px;
}

QPushButton {
    margin: 0px 0px 12px 0px;
}

QLabel {
    font-size: 24px;
    font-family: "JetBrains Mono";
    text-decoration: none;
    width: 150px;
    height: 45px;
    font-weight: bold;
    text-align: center;
    padding: 1px 5px;
    background: transparent;
    border: none;
    color: #1D3038;
}






